<div>
  <%= heroicon "academic-cap", variant: :outline %>
  <%= heroicon "adjustments-horizontal", variant: :outline %>
  <%= heroicon "adjustments-vertical", variant: :outline %>
  <%= heroicon "archive-box-arrow-down", variant: :outline %>
  <%= heroicon "archive-box-x-mark", variant: :outline %>
  <%= heroicon "archive-box", variant: :outline %>
  <%= heroicon "arrow-down-circle", variant: :outline %>
  <%= heroicon "arrow-down-left", variant: :outline %>
  <%= heroicon "arrow-down-on-square-stack", variant: :outline %>
  <%= heroicon "arrow-down-on-square", variant: :outline %>
  <%= heroicon "arrow-down-right", variant: :outline %>
  <%= heroicon "arrow-down-tray", variant: :outline %>
  <%= heroicon "arrow-down", variant: :outline %>
  <%= heroicon "arrow-left-circle", variant: :outline %>
  <%= heroicon "arrow-left-end-on-rectangle", variant: :outline %>
  <%= heroicon "arrow-left-on-rectangle", variant: :outline %>
  <%= heroicon "arrow-left-start-on-rectangle", variant: :outline %>
  <%= heroicon "arrow-left", variant: :outline %>
  <%= heroicon "arrow-long-down", variant: :outline %>
  <%= heroicon "arrow-long-left", variant: :outline %>
  <%= heroicon "arrow-long-right", variant: :outline %>
  <%= heroicon "arrow-long-up", variant: :outline %>
  <%= heroicon "arrow-path-rounded-square", variant: :outline %>
  <%= heroicon "arrow-path", variant: :outline %>
  <%= heroicon "arrow-right-circle", variant: :outline %>
  <%= heroicon "arrow-right-end-on-rectangle", variant: :outline %>
  <%= heroicon "arrow-right-on-rectangle", variant: :outline %>
  <%= heroicon "arrow-right-start-on-rectangle", variant: :outline %>
  <%= heroicon "arrow-right", variant: :outline %>
  <%= heroicon "arrow-small-down", variant: :outline %>
  <%= heroicon "arrow-small-left", variant: :outline %>
  <%= heroicon "arrow-small-right", variant: :outline %>
  <%= heroicon "arrow-small-up", variant: :outline %>
  <%= heroicon "arrow-top-right-on-square", variant: :outline %>
  <%= heroicon "arrow-trending-down", variant: :outline %>
  <%= heroicon "arrow-trending-up", variant: :outline %>
  <%= heroicon "arrow-up-circle", variant: :outline %>
  <%= heroicon "arrow-up-left", variant: :outline %>
  <%= heroicon "arrow-up-on-square-stack", variant: :outline %>
  <%= heroicon "arrow-up-on-square", variant: :outline %>
  <%= heroicon "arrow-up-right", variant: :outline %>
  <%= heroicon "arrow-up-tray", variant: :outline %>
  <%= heroicon "arrow-up", variant: :outline %>
  <%= heroicon "arrow-uturn-down", variant: :outline %>
  <%= heroicon "arrow-uturn-left", variant: :outline %>
  <%= heroicon "arrow-uturn-right", variant: :outline %>
  <%= heroicon "arrow-uturn-up", variant: :outline %>
  <%= heroicon "arrows-pointing-in", variant: :outline %>
  <%= heroicon "arrows-pointing-out", variant: :outline %>
  <%= heroicon "arrows-right-left", variant: :outline %>
  <%= heroicon "arrows-up-down", variant: :outline %>
  <%= heroicon "at-symbol", variant: :outline %>
  <%= heroicon "backspace", variant: :outline %>
  <%= heroicon "backward", variant: :outline %>
  <%= heroicon "banknotes", variant: :outline %>
  <%= heroicon "bars-2", variant: :outline %>
  <%= heroicon "bars-3-bottom-left", variant: :outline %>
  <%= heroicon "bars-3-bottom-right", variant: :outline %>
  <%= heroicon "bars-3-center-left", variant: :outline %>
  <%= heroicon "bars-3", variant: :outline %>
  <%= heroicon "bars-4", variant: :outline %>
  <%= heroicon "bars-arrow-down", variant: :outline %>
  <%= heroicon "bars-arrow-up", variant: :outline %>
  <%= heroicon "battery-0", variant: :outline %>
  <%= heroicon "battery-100", variant: :outline %>
  <%= heroicon "battery-50", variant: :outline %>
  <%= heroicon "beaker", variant: :outline %>
  <%= heroicon "bell-alert", variant: :outline %>
  <%= heroicon "bell-slash", variant: :outline %>
  <%= heroicon "bell-snooze", variant: :outline %>
  <%= heroicon "bell", variant: :outline %>
  <%= heroicon "bolt-slash", variant: :outline %>
  <%= heroicon "bolt", variant: :outline %>
  <%= heroicon "book-open", variant: :outline %>
  <%= heroicon "bookmark-slash", variant: :outline %>
  <%= heroicon "bookmark-square", variant: :outline %>
  <%= heroicon "bookmark", variant: :outline %>
  <%= heroicon "briefcase", variant: :outline %>
  <%= heroicon "building-library", variant: :outline %>
  <%= heroicon "building-office-2", variant: :outline %>
  <%= heroicon "building-office", variant: :outline %>
  <%= heroicon "building-storefront", variant: :outline %>
  <%= heroicon "cake", variant: :outline %>
  <%= heroicon "calculator", variant: :outline %>
  <%= heroicon "calendar-days", variant: :outline %>
  <%= heroicon "calendar", variant: :outline %>
  <%= heroicon "camera", variant: :outline %>
  <%= heroicon "chart-bar-square", variant: :outline %>
  <%= heroicon "chart-bar", variant: :outline %>
  <%= heroicon "chart-pie", variant: :outline %>
  <%= heroicon "chat-bubble-bottom-center-text", variant: :outline %>
  <%= heroicon "chat-bubble-bottom-center", variant: :outline %>
  <%= heroicon "chat-bubble-left-ellipsis", variant: :outline %>
  <%= heroicon "chat-bubble-left-right", variant: :outline %>
  <%= heroicon "chat-bubble-left", variant: :outline %>
  <%= heroicon "chat-bubble-oval-left-ellipsis", variant: :outline %>
  <%= heroicon "chat-bubble-oval-left", variant: :outline %>
  <%= heroicon "check-badge", variant: :outline %>
  <%= heroicon "check-circle", variant: :outline %>
  <%= heroicon "check", variant: :outline %>
  <%= heroicon "chevron-double-down", variant: :outline %>
  <%= heroicon "chevron-double-left", variant: :outline %>
  <%= heroicon "chevron-double-right", variant: :outline %>
  <%= heroicon "chevron-double-up", variant: :outline %>
  <%= heroicon "chevron-down", variant: :outline %>
  <%= heroicon "chevron-left", variant: :outline %>
  <%= heroicon "chevron-right", variant: :outline %>
  <%= heroicon "chevron-up-down", variant: :outline %>
  <%= heroicon "chevron-up", variant: :outline %>
  <%= heroicon "circle-stack", variant: :outline %>
  <%= heroicon "clipboard-document-check", variant: :outline %>
  <%= heroicon "clipboard-document-list", variant: :outline %>
  <%= heroicon "clipboard-document", variant: :outline %>
  <%= heroicon "clipboard", variant: :outline %>
  <%= heroicon "clock", variant: :outline %>
  <%= heroicon "cloud-arrow-down", variant: :outline %>
  <%= heroicon "cloud-arrow-up", variant: :outline %>
  <%= heroicon "cloud", variant: :outline %>
  <%= heroicon "code-bracket-square", variant: :outline %>
  <%= heroicon "code-bracket", variant: :outline %>
  <%= heroicon "cog-6-tooth", variant: :outline %>
  <%= heroicon "cog-8-tooth", variant: :outline %>
  <%= heroicon "cog", variant: :outline %>
  <%= heroicon "command-line", variant: :outline %>
  <%= heroicon "computer-desktop", variant: :outline %>
  <%= heroicon "cpu-chip", variant: :outline %>
  <%= heroicon "credit-card", variant: :outline %>
  <%= heroicon "cube-transparent", variant: :outline %>
  <%= heroicon "cube", variant: :outline %>
  <%= heroicon "currency-bangladeshi", variant: :outline %>
  <%= heroicon "currency-dollar", variant: :outline %>
  <%= heroicon "currency-euro", variant: :outline %>
  <%= heroicon "currency-pound", variant: :outline %>
  <%= heroicon "currency-rupee", variant: :outline %>
  <%= heroicon "currency-yen", variant: :outline %>
  <%= heroicon "cursor-arrow-rays", variant: :outline %>
  <%= heroicon "cursor-arrow-ripple", variant: :outline %>
  <%= heroicon "device-phone-mobile", variant: :outline %>
  <%= heroicon "device-tablet", variant: :outline %>
  <%= heroicon "document-arrow-down", variant: :outline %>
  <%= heroicon "document-arrow-up", variant: :outline %>
  <%= heroicon "document-chart-bar", variant: :outline %>
  <%= heroicon "document-check", variant: :outline %>
  <%= heroicon "document-duplicate", variant: :outline %>
  <%= heroicon "document-magnifying-glass", variant: :outline %>
  <%= heroicon "document-minus", variant: :outline %>
  <%= heroicon "document-plus", variant: :outline %>
  <%= heroicon "document-text", variant: :outline %>
  <%= heroicon "document", variant: :outline %>
  <%= heroicon "ellipsis-horizontal-circle", variant: :outline %>
  <%= heroicon "ellipsis-horizontal", variant: :outline %>
  <%= heroicon "ellipsis-vertical", variant: :outline %>
  <%= heroicon "envelope-open", variant: :outline %>
  <%= heroicon "envelope", variant: :outline %>
  <%= heroicon "exclamation-circle", variant: :outline %>
  <%= heroicon "exclamation-triangle", variant: :outline %>
  <%= heroicon "eye-slash", variant: :outline %>
  <%= heroicon "eye", variant: :outline %>
  <%= heroicon "face-frown", variant: :outline %>
  <%= heroicon "face-smile", variant: :outline %>
  <%= heroicon "film", variant: :outline %>
  <%= heroicon "finger-print", variant: :outline %>
  <%= heroicon "fire", variant: :outline %>
  <%= heroicon "flag", variant: :outline %>
  <%= heroicon "folder-arrow-down", variant: :outline %>
  <%= heroicon "folder-minus", variant: :outline %>
  <%= heroicon "folder-open", variant: :outline %>
  <%= heroicon "folder-plus", variant: :outline %>
  <%= heroicon "folder", variant: :outline %>
  <%= heroicon "forward", variant: :outline %>
  <%= heroicon "funnel", variant: :outline %>
  <%= heroicon "gif", variant: :outline %>
  <%= heroicon "gift-top", variant: :outline %>
  <%= heroicon "gift", variant: :outline %>
  <%= heroicon "globe-alt", variant: :outline %>
  <%= heroicon "globe-americas", variant: :outline %>
  <%= heroicon "globe-asia-australia", variant: :outline %>
  <%= heroicon "globe-europe-africa", variant: :outline %>
  <%= heroicon "hand-raised", variant: :outline %>
  <%= heroicon "hand-thumb-down", variant: :outline %>
  <%= heroicon "hand-thumb-up", variant: :outline %>
  <%= heroicon "hashtag", variant: :outline %>
  <%= heroicon "heart", variant: :outline %>
  <%= heroicon "home-modern", variant: :outline %>
  <%= heroicon "home", variant: :outline %>
  <%= heroicon "identification", variant: :outline %>
  <%= heroicon "inbox-arrow-down", variant: :outline %>
  <%= heroicon "inbox-stack", variant: :outline %>
  <%= heroicon "inbox", variant: :outline %>
  <%= heroicon "information-circle", variant: :outline %>
  <%= heroicon "key", variant: :outline %>
  <%= heroicon "language", variant: :outline %>
  <%= heroicon "lifebuoy", variant: :outline %>
  <%= heroicon "light-bulb", variant: :outline %>
  <%= heroicon "link", variant: :outline %>
  <%= heroicon "list-bullet", variant: :outline %>
  <%= heroicon "lock-closed", variant: :outline %>
  <%= heroicon "lock-open", variant: :outline %>
  <%= heroicon "magnifying-glass-circle", variant: :outline %>
  <%= heroicon "magnifying-glass-minus", variant: :outline %>
  <%= heroicon "magnifying-glass-plus", variant: :outline %>
  <%= heroicon "magnifying-glass", variant: :outline %>
  <%= heroicon "map-pin", variant: :outline %>
  <%= heroicon "map", variant: :outline %>
  <%= heroicon "megaphone", variant: :outline %>
  <%= heroicon "microphone", variant: :outline %>
  <%= heroicon "minus-circle", variant: :outline %>
  <%= heroicon "minus-small", variant: :outline %>
  <%= heroicon "minus", variant: :outline %>
  <%= heroicon "moon", variant: :outline %>
  <%= heroicon "musical-note", variant: :outline %>
  <%= heroicon "newspaper", variant: :outline %>
  <%= heroicon "no-symbol", variant: :outline %>
  <%= heroicon "paint-brush", variant: :outline %>
  <%= heroicon "paper-airplane", variant: :outline %>
  <%= heroicon "paper-clip", variant: :outline %>
  <%= heroicon "pause", variant: :outline %>
  <%= heroicon "pencil-square", variant: :outline %>
  <%= heroicon "pencil", variant: :outline %>
  <%= heroicon "phone-arrow-down-left", variant: :outline %>
  <%= heroicon "phone-arrow-up-right", variant: :outline %>
  <%= heroicon "phone-x-mark", variant: :outline %>
  <%= heroicon "phone", variant: :outline %>
  <%= heroicon "photo", variant: :outline %>
  <%= heroicon "play-pause", variant: :outline %>
  <%= heroicon "play", variant: :outline %>
  <%= heroicon "plus-circle", variant: :outline %>
  <%= heroicon "plus-small", variant: :outline %>
  <%= heroicon "plus", variant: :outline %>
  <%= heroicon "presentation-chart-bar", variant: :outline %>
  <%= heroicon "presentation-chart-line", variant: :outline %>
  <%= heroicon "printer", variant: :outline %>
  <%= heroicon "puzzle-piece", variant: :outline %>
  <%= heroicon "qr-code", variant: :outline %>
  <%= heroicon "question-mark-circle", variant: :outline %>
  <%= heroicon "queue-list", variant: :outline %>
  <%= heroicon "radio", variant: :outline %>
  <%= heroicon "receipt-percent", variant: :outline %>
  <%= heroicon "receipt-refund", variant: :outline %>
  <%= heroicon "rectangle-group", variant: :outline %>
  <%= heroicon "rectangle-stack", variant: :outline %>
  <%= heroicon "rss", variant: :outline %>
  <%= heroicon "scale", variant: :outline %>
  <%= heroicon "scissors", variant: :outline %>
  <%= heroicon "server-stack", variant: :outline %>
  <%= heroicon "server", variant: :outline %>
  <%= heroicon "share", variant: :outline %>
  <%= heroicon "shield-check", variant: :outline %>
  <%= heroicon "shield-exclamation", variant: :outline %>
  <%= heroicon "shopping-bag", variant: :outline %>
  <%= heroicon "shopping-cart", variant: :outline %>
  <%= heroicon "signal-slash", variant: :outline %>
  <%= heroicon "signal", variant: :outline %>
  <%= heroicon "sparkles", variant: :outline %>
  <%= heroicon "speaker-wave", variant: :outline %>
  <%= heroicon "speaker-x-mark", variant: :outline %>
  <%= heroicon "square-2-stack", variant: :outline %>
  <%= heroicon "squares-2x2", variant: :outline %>
  <%= heroicon "squares-plus", variant: :outline %>
  <%= heroicon "star", variant: :outline %>
  <%= heroicon "stop", variant: :outline %>
  <%= heroicon "sun", variant: :outline %>
  <%= heroicon "swatch", variant: :outline %>
  <%= heroicon "table-cells", variant: :outline %>
  <%= heroicon "tag", variant: :outline %>
  <%= heroicon "ticket", variant: :outline %>
  <%= heroicon "trash", variant: :outline %>
  <%= heroicon "truck", variant: :outline %>
  <%= heroicon "user-circle", variant: :outline %>
  <%= heroicon "user-group", variant: :outline %>
  <%= heroicon "user-minus", variant: :outline %>
  <%= heroicon "user-plus", variant: :outline %>
  <%= heroicon "user", variant: :outline %>
  <%= heroicon "users", variant: :outline %>
  <%= heroicon "variable", variant: :outline %>
  <%= heroicon "video-camera-slash", variant: :outline %>
  <%= heroicon "video-camera", variant: :outline %>
  <%= heroicon "view-columns", variant: :outline %>
  <%= heroicon "wallet", variant: :outline %>
  <%= heroicon "wifi", variant: :outline %>
  <%= heroicon "wrench-screwdriver", variant: :outline %>
  <%= heroicon "wrench", variant: :outline %>
  <%= heroicon "x-circle", variant: :outline %>
  <%= heroicon "x-mark", variant: :outline %>
</div>
