<div>
  <%= heroicon "adjustments", variant: :outline %>
  <%= heroicon "annotation", variant: :outline %>
  <%= heroicon "archive", variant: :outline %>
  <%= heroicon "arrow-circle-down", variant: :outline %>
  <%= heroicon "arrow-circle-left", variant: :outline %>
  <%= heroicon "arrow-circle-right", variant: :outline %>
  <%= heroicon "arrow-circle-up", variant: :outline %>
  <%= heroicon "arrow-down", variant: :outline %>
  <%= heroicon "arrow-left", variant: :outline %>
  <%= heroicon "arrow-narrow-down", variant: :outline %>
  <%= heroicon "arrow-narrow-left", variant: :outline %>
  <%= heroicon "arrow-narrow-right", variant: :outline %>
  <%= heroicon "arrow-narrow-up", variant: :outline %>
  <%= heroicon "arrow-right", variant: :outline %>
  <%= heroicon "arrow-sm-down", variant: :outline %>
  <%= heroicon "arrow-sm-left", variant: :outline %>
  <%= heroicon "arrow-sm-right", variant: :outline %>
  <%= heroicon "arrow-sm-up", variant: :outline %>
  <%= heroicon "arrow-up", variant: :outline %>
  <%= heroicon "arrows-expand", variant: :outline %>
  <%= heroicon "at-symbol", variant: :outline %>
  <%= heroicon "backspace", variant: :outline %>
  <%= heroicon "badge-check", variant: :outline %>
  <%= heroicon "ban", variant: :outline %>
  <%= heroicon "beaker", variant: :outline %>
  <%= heroicon "bell", variant: :outline %>
  <%= heroicon "book-open", variant: :outline %>
  <%= heroicon "bookmark-alt", variant: :outline %>
  <%= heroicon "bookmark", variant: :outline %>
  <%= heroicon "briefcase", variant: :outline %>
  <%= heroicon "cake", variant: :outline %>
  <%= heroicon "calculator", variant: :outline %>
  <%= heroicon "calendar", variant: :outline %>
  <%= heroicon "camera", variant: :outline %>
  <%= heroicon "cash", variant: :outline %>
  <%= heroicon "chart-bar", variant: :outline %>
  <%= heroicon "chart-pie", variant: :outline %>
  <%= heroicon "chart-square-bar", variant: :outline %>
  <%= heroicon "chat-alt-2", variant: :outline %>
  <%= heroicon "chat-alt", variant: :outline %>
  <%= heroicon "chat", variant: :outline %>
  <%= heroicon "check-circle", variant: :outline %>
  <%= heroicon "check", variant: :outline %>
  <%= heroicon "chevron-double-down", variant: :outline %>
  <%= heroicon "chevron-double-left", variant: :outline %>
  <%= heroicon "chevron-double-right", variant: :outline %>
  <%= heroicon "chevron-double-up", variant: :outline %>
  <%= heroicon "chevron-down", variant: :outline %>
  <%= heroicon "chevron-left", variant: :outline %>
  <%= heroicon "chevron-right", variant: :outline %>
  <%= heroicon "chevron-up", variant: :outline %>
  <%= heroicon "chip", variant: :outline %>
  <%= heroicon "clipboard-check", variant: :outline %>
  <%= heroicon "clipboard-copy", variant: :outline %>
  <%= heroicon "clipboard-list", variant: :outline %>
  <%= heroicon "clipboard", variant: :outline %>
  <%= heroicon "clock", variant: :outline %>
  <%= heroicon "cloud-download", variant: :outline %>
  <%= heroicon "cloud-upload", variant: :outline %>
  <%= heroicon "cloud", variant: :outline %>
  <%= heroicon "code", variant: :outline %>
  <%= heroicon "cog", variant: :outline %>
  <%= heroicon "collection", variant: :outline %>
  <%= heroicon "color-swatch", variant: :outline %>
  <%= heroicon "credit-card", variant: :outline %>
  <%= heroicon "cube-transparent", variant: :outline %>
  <%= heroicon "cube", variant: :outline %>
  <%= heroicon "currency-bangladeshi", variant: :outline %>
  <%= heroicon "currency-dollar", variant: :outline %>
  <%= heroicon "currency-euro", variant: :outline %>
  <%= heroicon "currency-pound", variant: :outline %>
  <%= heroicon "currency-rupee", variant: :outline %>
  <%= heroicon "currency-yen", variant: :outline %>
  <%= heroicon "cursor-click", variant: :outline %>
  <%= heroicon "database", variant: :outline %>
  <%= heroicon "desktop-computer", variant: :outline %>
  <%= heroicon "device-mobile", variant: :outline %>
  <%= heroicon "device-tablet", variant: :outline %>
  <%= heroicon "document-add", variant: :outline %>
  <%= heroicon "document-download", variant: :outline %>
  <%= heroicon "document-duplicate", variant: :outline %>
  <%= heroicon "document-remove", variant: :outline %>
  <%= heroicon "document-report", variant: :outline %>
  <%= heroicon "document-search", variant: :outline %>
  <%= heroicon "document-text", variant: :outline %>
  <%= heroicon "document", variant: :outline %>
  <%= heroicon "dots-circle-horizontal", variant: :outline %>
  <%= heroicon "dots-horizontal", variant: :outline %>
  <%= heroicon "dots-vertical", variant: :outline %>
  <%= heroicon "download", variant: :outline %>
  <%= heroicon "duplicate", variant: :outline %>
  <%= heroicon "emoji-happy", variant: :outline %>
  <%= heroicon "emoji-sad", variant: :outline %>
  <%= heroicon "exclamation-circle", variant: :outline %>
  <%= heroicon "exclamation", variant: :outline %>
  <%= heroicon "external-link", variant: :outline %>
  <%= heroicon "eye-off", variant: :outline %>
  <%= heroicon "eye", variant: :outline %>
  <%= heroicon "fast-forward", variant: :outline %>
  <%= heroicon "film", variant: :outline %>
  <%= heroicon "filter", variant: :outline %>
  <%= heroicon "finger-print", variant: :outline %>
  <%= heroicon "fire", variant: :outline %>
  <%= heroicon "flag", variant: :outline %>
  <%= heroicon "folder-add", variant: :outline %>
  <%= heroicon "folder-download", variant: :outline %>
  <%= heroicon "folder-open", variant: :outline %>
  <%= heroicon "folder-remove", variant: :outline %>
  <%= heroicon "folder", variant: :outline %>
  <%= heroicon "gift", variant: :outline %>
  <%= heroicon "globe-alt", variant: :outline %>
  <%= heroicon "globe", variant: :outline %>
  <%= heroicon "hand", variant: :outline %>
  <%= heroicon "hashtag", variant: :outline %>
  <%= heroicon "heart", variant: :outline %>
  <%= heroicon "home", variant: :outline %>
  <%= heroicon "identification", variant: :outline %>
  <%= heroicon "inbox-in", variant: :outline %>
  <%= heroicon "inbox", variant: :outline %>
  <%= heroicon "information-circle", variant: :outline %>
  <%= heroicon "key", variant: :outline %>
  <%= heroicon "library", variant: :outline %>
  <%= heroicon "light-bulb", variant: :outline %>
  <%= heroicon "lightning-bolt", variant: :outline %>
  <%= heroicon "link", variant: :outline %>
  <%= heroicon "location-marker", variant: :outline %>
  <%= heroicon "lock-closed", variant: :outline %>
  <%= heroicon "lock-open", variant: :outline %>
  <%= heroicon "login", variant: :outline %>
  <%= heroicon "logout", variant: :outline %>
  <%= heroicon "mail-open", variant: :outline %>
  <%= heroicon "mail", variant: :outline %>
  <%= heroicon "map", variant: :outline %>
  <%= heroicon "menu-alt-1", variant: :outline %>
  <%= heroicon "menu-alt-2", variant: :outline %>
  <%= heroicon "menu-alt-3", variant: :outline %>
  <%= heroicon "menu-alt-4", variant: :outline %>
  <%= heroicon "menu", variant: :outline %>
  <%= heroicon "microphone", variant: :outline %>
  <%= heroicon "minus-circle", variant: :outline %>
  <%= heroicon "minus-sm", variant: :outline %>
  <%= heroicon "minus", variant: :outline %>
  <%= heroicon "moon", variant: :outline %>
  <%= heroicon "music-note", variant: :outline %>
  <%= heroicon "newspaper", variant: :outline %>
  <%= heroicon "office-building", variant: :outline %>
  <%= heroicon "paper-airplane", variant: :outline %>
  <%= heroicon "paper-clip", variant: :outline %>
  <%= heroicon "pause", variant: :outline %>
  <%= heroicon "pencil-alt", variant: :outline %>
  <%= heroicon "pencil", variant: :outline %>
  <%= heroicon "phone-incoming", variant: :outline %>
  <%= heroicon "phone-missed-call", variant: :outline %>
  <%= heroicon "phone-outgoing", variant: :outline %>
  <%= heroicon "phone", variant: :outline %>
  <%= heroicon "photograph", variant: :outline %>
  <%= heroicon "play", variant: :outline %>
  <%= heroicon "plus-circle", variant: :outline %>
  <%= heroicon "plus-sm", variant: :outline %>
  <%= heroicon "plus", variant: :outline %>
  <%= heroicon "presentation-chart-bar", variant: :outline %>
  <%= heroicon "presentation-chart-line", variant: :outline %>
  <%= heroicon "printer", variant: :outline %>
  <%= heroicon "puzzle", variant: :outline %>
  <%= heroicon "qrcode", variant: :outline %>
  <%= heroicon "question-mark-circle", variant: :outline %>
  <%= heroicon "receipt-refund", variant: :outline %>
  <%= heroicon "receipt-tax", variant: :outline %>
  <%= heroicon "refresh", variant: :outline %>
  <%= heroicon "reply", variant: :outline %>
  <%= heroicon "rewind", variant: :outline %>
  <%= heroicon "rss", variant: :outline %>
  <%= heroicon "save-as", variant: :outline %>
  <%= heroicon "save", variant: :outline %>
  <%= heroicon "scale", variant: :outline %>
  <%= heroicon "scissors", variant: :outline %>
  <%= heroicon "search-circle", variant: :outline %>
  <%= heroicon "search", variant: :outline %>
  <%= heroicon "selector", variant: :outline %>
  <%= heroicon "server", variant: :outline %>
  <%= heroicon "share", variant: :outline %>
  <%= heroicon "shield-check", variant: :outline %>
  <%= heroicon "shield-exclamation", variant: :outline %>
  <%= heroicon "shopping-bag", variant: :outline %>
  <%= heroicon "shopping-cart", variant: :outline %>
  <%= heroicon "sort-ascending", variant: :outline %>
  <%= heroicon "sort-descending", variant: :outline %>
  <%= heroicon "sparkles", variant: :outline %>
  <%= heroicon "speakerphone", variant: :outline %>
  <%= heroicon "star", variant: :outline %>
  <%= heroicon "status-offline", variant: :outline %>
  <%= heroicon "status-online", variant: :outline %>
  <%= heroicon "stop", variant: :outline %>
  <%= heroicon "sun", variant: :outline %>
  <%= heroicon "support", variant: :outline %>
  <%= heroicon "switch-horizontal", variant: :outline %>
  <%= heroicon "switch-vertical", variant: :outline %>
  <%= heroicon "table", variant: :outline %>
  <%= heroicon "tag", variant: :outline %>
  <%= heroicon "template", variant: :outline %>
  <%= heroicon "terminal", variant: :outline %>
  <%= heroicon "thumb-down", variant: :outline %>
  <%= heroicon "thumb-up", variant: :outline %>
  <%= heroicon "ticket", variant: :outline %>
  <%= heroicon "translate", variant: :outline %>
  <%= heroicon "trash", variant: :outline %>
  <%= heroicon "trending-down", variant: :outline %>
  <%= heroicon "trending-up", variant: :outline %>
  <%= heroicon "truck", variant: :outline %>
  <%= heroicon "upload", variant: :outline %>
  <%= heroicon "user-add", variant: :outline %>
  <%= heroicon "user-circle", variant: :outline %>
  <%= heroicon "user-group", variant: :outline %>
  <%= heroicon "user-remove", variant: :outline %>
  <%= heroicon "user", variant: :outline %>
  <%= heroicon "users", variant: :outline %>
  <%= heroicon "variable", variant: :outline %>
  <%= heroicon "video-camera", variant: :outline %>
  <%= heroicon "view-boards", variant: :outline %>
  <%= heroicon "view-grid-add", variant: :outline %>
  <%= heroicon "view-grid", variant: :outline %>
  <%= heroicon "view-list", variant: :outline %>
  <%= heroicon "volume-off", variant: :outline %>
  <%= heroicon "volume-up", variant: :outline %>
  <%= heroicon "wifi", variant: :outline %>
  <%= heroicon "x-circle", variant: :outline %>
  <%= heroicon "x", variant: :outline %>
  <%= heroicon "zoom-in", variant: :outline %>
  <%= heroicon "zoom-out", variant: :outline %>
</div>
