<div>
  <%= heroicon "adjustments" %>
  <%= heroicon "annotation" %>
  <%= heroicon "archive" %>
  <%= heroicon "arrow-circle-down" %>
  <%= heroicon "arrow-circle-left" %>
  <%= heroicon "arrow-circle-right" %>
  <%= heroicon "arrow-circle-up" %>
  <%= heroicon "arrow-down" %>
  <%= heroicon "arrow-left" %>
  <%= heroicon "arrow-narrow-down" %>
  <%= heroicon "arrow-narrow-left" %>
  <%= heroicon "arrow-narrow-right" %>
  <%= heroicon "arrow-narrow-up" %>
  <%= heroicon "arrow-right" %>
  <%= heroicon "arrow-sm-down" %>
  <%= heroicon "arrow-sm-left" %>
  <%= heroicon "arrow-sm-right" %>
  <%= heroicon "arrow-sm-up" %>
  <%= heroicon "arrow-up" %>
  <%= heroicon "arrows-expand" %>
  <%= heroicon "at-symbol" %>
  <%= heroicon "backspace" %>
  <%= heroicon "badge-check" %>
  <%= heroicon "ban" %>
  <%= heroicon "beaker" %>
  <%= heroicon "bell" %>
  <%= heroicon "book-open" %>
  <%= heroicon "bookmark-alt" %>
  <%= heroicon "bookmark" %>
  <%= heroicon "briefcase" %>
  <%= heroicon "cake" %>
  <%= heroicon "calculator" %>
  <%= heroicon "calendar" %>
  <%= heroicon "camera" %>
  <%= heroicon "cash" %>
  <%= heroicon "chart-bar" %>
  <%= heroicon "chart-pie" %>
  <%= heroicon "chart-square-bar" %>
  <%= heroicon "chat-alt-2" %>
  <%= heroicon "chat-alt" %>
  <%= heroicon "chat" %>
  <%= heroicon "check-circle" %>
  <%= heroicon "check" %>
  <%= heroicon "chevron-double-down" %>
  <%= heroicon "chevron-double-left" %>
  <%= heroicon "chevron-double-right" %>
  <%= heroicon "chevron-double-up" %>
  <%= heroicon "chevron-down" %>
  <%= heroicon "chevron-left" %>
  <%= heroicon "chevron-right" %>
  <%= heroicon "chevron-up" %>
  <%= heroicon "chip" %>
  <%= heroicon "clipboard-check" %>
  <%= heroicon "clipboard-copy" %>
  <%= heroicon "clipboard-list" %>
  <%= heroicon "clipboard" %>
  <%= heroicon "clock" %>
  <%= heroicon "cloud-download" %>
  <%= heroicon "cloud-upload" %>
  <%= heroicon "cloud" %>
  <%= heroicon "code" %>
  <%= heroicon "cog" %>
  <%= heroicon "collection" %>
  <%= heroicon "color-swatch" %>
  <%= heroicon "credit-card" %>
  <%= heroicon "cube-transparent" %>
  <%= heroicon "cube" %>
  <%= heroicon "currency-bangladeshi" %>
  <%= heroicon "currency-dollar" %>
  <%= heroicon "currency-euro" %>
  <%= heroicon "currency-pound" %>
  <%= heroicon "currency-rupee" %>
  <%= heroicon "currency-yen" %>
  <%= heroicon "cursor-click" %>
  <%= heroicon "database" %>
  <%= heroicon "desktop-computer" %>
  <%= heroicon "device-mobile" %>
  <%= heroicon "device-tablet" %>
  <%= heroicon "document-add" %>
  <%= heroicon "document-download" %>
  <%= heroicon "document-duplicate" %>
  <%= heroicon "document-remove" %>
  <%= heroicon "document-report" %>
  <%= heroicon "document-search" %>
  <%= heroicon "document-text" %>
  <%= heroicon "document" %>
  <%= heroicon "dots-circle-horizontal" %>
  <%= heroicon "dots-horizontal" %>
  <%= heroicon "dots-vertical" %>
  <%= heroicon "download" %>
  <%= heroicon "duplicate" %>
  <%= heroicon "emoji-happy" %>
  <%= heroicon "emoji-sad" %>
  <%= heroicon "exclamation-circle" %>
  <%= heroicon "exclamation" %>
  <%= heroicon "external-link" %>
  <%= heroicon "eye-off" %>
  <%= heroicon "eye" %>
  <%= heroicon "fast-forward" %>
  <%= heroicon "film" %>
  <%= heroicon "filter" %>
  <%= heroicon "finger-print" %>
  <%= heroicon "fire" %>
  <%= heroicon "flag" %>
  <%= heroicon "folder-add" %>
  <%= heroicon "folder-download" %>
  <%= heroicon "folder-open" %>
  <%= heroicon "folder-remove" %>
  <%= heroicon "folder" %>
  <%= heroicon "gift" %>
  <%= heroicon "globe-alt" %>
  <%= heroicon "globe" %>
  <%= heroicon "hand" %>
  <%= heroicon "hashtag" %>
  <%= heroicon "heart" %>
  <%= heroicon "home" %>
  <%= heroicon "identification" %>
  <%= heroicon "inbox-in" %>
  <%= heroicon "inbox" %>
  <%= heroicon "information-circle" %>
  <%= heroicon "key" %>
  <%= heroicon "library" %>
  <%= heroicon "light-bulb" %>
  <%= heroicon "lightning-bolt" %>
  <%= heroicon "link" %>
  <%= heroicon "location-marker" %>
  <%= heroicon "lock-closed" %>
  <%= heroicon "lock-open" %>
  <%= heroicon "login" %>
  <%= heroicon "logout" %>
  <%= heroicon "mail-open" %>
  <%= heroicon "mail" %>
  <%= heroicon "map" %>
  <%= heroicon "menu-alt-1" %>
  <%= heroicon "menu-alt-2" %>
  <%= heroicon "menu-alt-3" %>
  <%= heroicon "menu-alt-4" %>
  <%= heroicon "menu" %>
  <%= heroicon "microphone" %>
  <%= heroicon "minus-circle" %>
  <%= heroicon "minus-sm" %>
  <%= heroicon "minus" %>
  <%= heroicon "moon" %>
  <%= heroicon "music-note" %>
  <%= heroicon "newspaper" %>
  <%= heroicon "office-building" %>
  <%= heroicon "paper-airplane" %>
  <%= heroicon "paper-clip" %>
  <%= heroicon "pause" %>
  <%= heroicon "pencil-alt" %>
  <%= heroicon "pencil" %>
  <%= heroicon "phone-incoming" %>
  <%= heroicon "phone-missed-call" %>
  <%= heroicon "phone-outgoing" %>
  <%= heroicon "phone" %>
  <%= heroicon "photograph" %>
  <%= heroicon "play" %>
  <%= heroicon "plus-circle" %>
  <%= heroicon "plus-sm" %>
  <%= heroicon "plus" %>
  <%= heroicon "presentation-chart-bar" %>
  <%= heroicon "presentation-chart-line" %>
  <%= heroicon "printer" %>
  <%= heroicon "puzzle" %>
  <%= heroicon "qrcode" %>
  <%= heroicon "question-mark-circle" %>
  <%= heroicon "receipt-refund" %>
  <%= heroicon "receipt-tax" %>
  <%= heroicon "refresh" %>
  <%= heroicon "reply" %>
  <%= heroicon "rewind" %>
  <%= heroicon "rss" %>
  <%= heroicon "save-as" %>
  <%= heroicon "save" %>
  <%= heroicon "scale" %>
  <%= heroicon "scissors" %>
  <%= heroicon "search-circle" %>
  <%= heroicon "search" %>
  <%= heroicon "selector" %>
  <%= heroicon "server" %>
  <%= heroicon "share" %>
  <%= heroicon "shield-check" %>
  <%= heroicon "shield-exclamation" %>
  <%= heroicon "shopping-bag" %>
  <%= heroicon "shopping-cart" %>
  <%= heroicon "sort-ascending" %>
  <%= heroicon "sort-descending" %>
  <%= heroicon "sparkles" %>
  <%= heroicon "speakerphone" %>
  <%= heroicon "star" %>
  <%= heroicon "status-offline" %>
  <%= heroicon "status-online" %>
  <%= heroicon "stop" %>
  <%= heroicon "sun" %>
  <%= heroicon "support" %>
  <%= heroicon "switch-horizontal" %>
  <%= heroicon "switch-vertical" %>
  <%= heroicon "table" %>
  <%= heroicon "tag" %>
  <%= heroicon "template" %>
  <%= heroicon "terminal" %>
  <%= heroicon "thumb-down" %>
  <%= heroicon "thumb-up" %>
  <%= heroicon "ticket" %>
  <%= heroicon "translate" %>
  <%= heroicon "trash" %>
  <%= heroicon "trending-down" %>
  <%= heroicon "trending-up" %>
  <%= heroicon "truck" %>
  <%= heroicon "upload" %>
  <%= heroicon "user-add" %>
  <%= heroicon "user-circle" %>
  <%= heroicon "user-group" %>
  <%= heroicon "user-remove" %>
  <%= heroicon "user" %>
  <%= heroicon "users" %>
  <%= heroicon "variable" %>
  <%= heroicon "video-camera" %>
  <%= heroicon "view-boards" %>
  <%= heroicon "view-grid-add" %>
  <%= heroicon "view-grid" %>
  <%= heroicon "view-list" %>
  <%= heroicon "volume-off" %>
  <%= heroicon "volume-up" %>
  <%= heroicon "wifi" %>
  <%= heroicon "x-circle" %>
  <%= heroicon "x" %>
  <%= heroicon "zoom-in" %>
  <%= heroicon "zoom-out" %>
</div>
