<div>
  <%= heroicon "academic-cap" %>
  <%= heroicon "adjustments-horizontal" %>
  <%= heroicon "adjustments-vertical" %>
  <%= heroicon "archive-box-arrow-down" %>
  <%= heroicon "archive-box-x-mark" %>
  <%= heroicon "archive-box" %>
  <%= heroicon "arrow-down-circle" %>
  <%= heroicon "arrow-down-left" %>
  <%= heroicon "arrow-down-on-square-stack" %>
  <%= heroicon "arrow-down-on-square" %>
  <%= heroicon "arrow-down-right" %>
  <%= heroicon "arrow-down-tray" %>
  <%= heroicon "arrow-down" %>
  <%= heroicon "arrow-left-circle" %>
  <%= heroicon "arrow-left-end-on-rectangle" %>
  <%= heroicon "arrow-left-on-rectangle" %>
  <%= heroicon "arrow-left-start-on-rectangle" %>
  <%= heroicon "arrow-left" %>
  <%= heroicon "arrow-long-down" %>
  <%= heroicon "arrow-long-left" %>
  <%= heroicon "arrow-long-right" %>
  <%= heroicon "arrow-long-up" %>
  <%= heroicon "arrow-path-rounded-square" %>
  <%= heroicon "arrow-path" %>
  <%= heroicon "arrow-right-circle" %>
  <%= heroicon "arrow-right-end-on-rectangle" %>
  <%= heroicon "arrow-right-on-rectangle" %>
  <%= heroicon "arrow-right-start-on-rectangle" %>
  <%= heroicon "arrow-right" %>
  <%= heroicon "arrow-small-down" %>
  <%= heroicon "arrow-small-left" %>
  <%= heroicon "arrow-small-right" %>
  <%= heroicon "arrow-small-up" %>
  <%= heroicon "arrow-top-right-on-square" %>
  <%= heroicon "arrow-trending-down" %>
  <%= heroicon "arrow-trending-up" %>
  <%= heroicon "arrow-up-circle" %>
  <%= heroicon "arrow-up-left" %>
  <%= heroicon "arrow-up-on-square-stack" %>
  <%= heroicon "arrow-up-on-square" %>
  <%= heroicon "arrow-up-right" %>
  <%= heroicon "arrow-up-tray" %>
  <%= heroicon "arrow-up" %>
  <%= heroicon "arrow-uturn-down" %>
  <%= heroicon "arrow-uturn-left" %>
  <%= heroicon "arrow-uturn-right" %>
  <%= heroicon "arrow-uturn-up" %>
  <%= heroicon "arrows-pointing-in" %>
  <%= heroicon "arrows-pointing-out" %>
  <%= heroicon "arrows-right-left" %>
  <%= heroicon "arrows-up-down" %>
  <%= heroicon "at-symbol" %>
  <%= heroicon "backspace" %>
  <%= heroicon "backward" %>
  <%= heroicon "banknotes" %>
  <%= heroicon "bars-2" %>
  <%= heroicon "bars-3-bottom-left" %>
  <%= heroicon "bars-3-bottom-right" %>
  <%= heroicon "bars-3-center-left" %>
  <%= heroicon "bars-3" %>
  <%= heroicon "bars-4" %>
  <%= heroicon "bars-arrow-down" %>
  <%= heroicon "bars-arrow-up" %>
  <%= heroicon "battery-0" %>
  <%= heroicon "battery-100" %>
  <%= heroicon "battery-50" %>
  <%= heroicon "beaker" %>
  <%= heroicon "bell-alert" %>
  <%= heroicon "bell-slash" %>
  <%= heroicon "bell-snooze" %>
  <%= heroicon "bell" %>
  <%= heroicon "bolt-slash" %>
  <%= heroicon "bolt" %>
  <%= heroicon "book-open" %>
  <%= heroicon "bookmark-slash" %>
  <%= heroicon "bookmark-square" %>
  <%= heroicon "bookmark" %>
  <%= heroicon "briefcase" %>
  <%= heroicon "building-library" %>
  <%= heroicon "building-office-2" %>
  <%= heroicon "building-office" %>
  <%= heroicon "building-storefront" %>
  <%= heroicon "cake" %>
  <%= heroicon "calculator" %>
  <%= heroicon "calendar-days" %>
  <%= heroicon "calendar" %>
  <%= heroicon "camera" %>
  <%= heroicon "chart-bar-square" %>
  <%= heroicon "chart-bar" %>
  <%= heroicon "chart-pie" %>
  <%= heroicon "chat-bubble-bottom-center-text" %>
  <%= heroicon "chat-bubble-bottom-center" %>
  <%= heroicon "chat-bubble-left-ellipsis" %>
  <%= heroicon "chat-bubble-left-right" %>
  <%= heroicon "chat-bubble-left" %>
  <%= heroicon "chat-bubble-oval-left-ellipsis" %>
  <%= heroicon "chat-bubble-oval-left" %>
  <%= heroicon "check-badge" %>
  <%= heroicon "check-circle" %>
  <%= heroicon "check" %>
  <%= heroicon "chevron-double-down" %>
  <%= heroicon "chevron-double-left" %>
  <%= heroicon "chevron-double-right" %>
  <%= heroicon "chevron-double-up" %>
  <%= heroicon "chevron-down" %>
  <%= heroicon "chevron-left" %>
  <%= heroicon "chevron-right" %>
  <%= heroicon "chevron-up-down" %>
  <%= heroicon "chevron-up" %>
  <%= heroicon "circle-stack" %>
  <%= heroicon "clipboard-document-check" %>
  <%= heroicon "clipboard-document-list" %>
  <%= heroicon "clipboard-document" %>
  <%= heroicon "clipboard" %>
  <%= heroicon "clock" %>
  <%= heroicon "cloud-arrow-down" %>
  <%= heroicon "cloud-arrow-up" %>
  <%= heroicon "cloud" %>
  <%= heroicon "code-bracket-square" %>
  <%= heroicon "code-bracket" %>
  <%= heroicon "cog-6-tooth" %>
  <%= heroicon "cog-8-tooth" %>
  <%= heroicon "cog" %>
  <%= heroicon "command-line" %>
  <%= heroicon "computer-desktop" %>
  <%= heroicon "cpu-chip" %>
  <%= heroicon "credit-card" %>
  <%= heroicon "cube-transparent" %>
  <%= heroicon "cube" %>
  <%= heroicon "currency-bangladeshi" %>
  <%= heroicon "currency-dollar" %>
  <%= heroicon "currency-euro" %>
  <%= heroicon "currency-pound" %>
  <%= heroicon "currency-rupee" %>
  <%= heroicon "currency-yen" %>
  <%= heroicon "cursor-arrow-rays" %>
  <%= heroicon "cursor-arrow-ripple" %>
  <%= heroicon "device-phone-mobile" %>
  <%= heroicon "device-tablet" %>
  <%= heroicon "document-arrow-down" %>
  <%= heroicon "document-arrow-up" %>
  <%= heroicon "document-chart-bar" %>
  <%= heroicon "document-check" %>
  <%= heroicon "document-duplicate" %>
  <%= heroicon "document-magnifying-glass" %>
  <%= heroicon "document-minus" %>
  <%= heroicon "document-plus" %>
  <%= heroicon "document-text" %>
  <%= heroicon "document" %>
  <%= heroicon "ellipsis-horizontal-circle" %>
  <%= heroicon "ellipsis-horizontal" %>
  <%= heroicon "ellipsis-vertical" %>
  <%= heroicon "envelope-open" %>
  <%= heroicon "envelope" %>
  <%= heroicon "exclamation-circle" %>
  <%= heroicon "exclamation-triangle" %>
  <%= heroicon "eye-slash" %>
  <%= heroicon "eye" %>
  <%= heroicon "face-frown" %>
  <%= heroicon "face-smile" %>
  <%= heroicon "film" %>
  <%= heroicon "finger-print" %>
  <%= heroicon "fire" %>
  <%= heroicon "flag" %>
  <%= heroicon "folder-arrow-down" %>
  <%= heroicon "folder-minus" %>
  <%= heroicon "folder-open" %>
  <%= heroicon "folder-plus" %>
  <%= heroicon "folder" %>
  <%= heroicon "forward" %>
  <%= heroicon "funnel" %>
  <%= heroicon "gif" %>
  <%= heroicon "gift-top" %>
  <%= heroicon "gift" %>
  <%= heroicon "globe-alt" %>
  <%= heroicon "globe-americas" %>
  <%= heroicon "globe-asia-australia" %>
  <%= heroicon "globe-europe-africa" %>
  <%= heroicon "hand-raised" %>
  <%= heroicon "hand-thumb-down" %>
  <%= heroicon "hand-thumb-up" %>
  <%= heroicon "hashtag" %>
  <%= heroicon "heart" %>
  <%= heroicon "home-modern" %>
  <%= heroicon "home" %>
  <%= heroicon "identification" %>
  <%= heroicon "inbox-arrow-down" %>
  <%= heroicon "inbox-stack" %>
  <%= heroicon "inbox" %>
  <%= heroicon "information-circle" %>
  <%= heroicon "key" %>
  <%= heroicon "language" %>
  <%= heroicon "lifebuoy" %>
  <%= heroicon "light-bulb" %>
  <%= heroicon "link" %>
  <%= heroicon "list-bullet" %>
  <%= heroicon "lock-closed" %>
  <%= heroicon "lock-open" %>
  <%= heroicon "magnifying-glass-circle" %>
  <%= heroicon "magnifying-glass-minus" %>
  <%= heroicon "magnifying-glass-plus" %>
  <%= heroicon "magnifying-glass" %>
  <%= heroicon "map-pin" %>
  <%= heroicon "map" %>
  <%= heroicon "megaphone" %>
  <%= heroicon "microphone" %>
  <%= heroicon "minus-circle" %>
  <%= heroicon "minus-small" %>
  <%= heroicon "minus" %>
  <%= heroicon "moon" %>
  <%= heroicon "musical-note" %>
  <%= heroicon "newspaper" %>
  <%= heroicon "no-symbol" %>
  <%= heroicon "paint-brush" %>
  <%= heroicon "paper-airplane" %>
  <%= heroicon "paper-clip" %>
  <%= heroicon "pause" %>
  <%= heroicon "pencil-square" %>
  <%= heroicon "pencil" %>
  <%= heroicon "phone-arrow-down-left" %>
  <%= heroicon "phone-arrow-up-right" %>
  <%= heroicon "phone-x-mark" %>
  <%= heroicon "phone" %>
  <%= heroicon "photo" %>
  <%= heroicon "play-pause" %>
  <%= heroicon "play" %>
  <%= heroicon "plus-circle" %>
  <%= heroicon "plus-small" %>
  <%= heroicon "plus" %>
  <%= heroicon "presentation-chart-bar" %>
  <%= heroicon "presentation-chart-line" %>
  <%= heroicon "printer" %>
  <%= heroicon "puzzle-piece" %>
  <%= heroicon "qr-code" %>
  <%= heroicon "question-mark-circle" %>
  <%= heroicon "queue-list" %>
  <%= heroicon "radio" %>
  <%= heroicon "receipt-percent" %>
  <%= heroicon "receipt-refund" %>
  <%= heroicon "rectangle-group" %>
  <%= heroicon "rectangle-stack" %>
  <%= heroicon "rss" %>
  <%= heroicon "scale" %>
  <%= heroicon "scissors" %>
  <%= heroicon "server-stack" %>
  <%= heroicon "server" %>
  <%= heroicon "share" %>
  <%= heroicon "shield-check" %>
  <%= heroicon "shield-exclamation" %>
  <%= heroicon "shopping-bag" %>
  <%= heroicon "shopping-cart" %>
  <%= heroicon "signal-slash" %>
  <%= heroicon "signal" %>
  <%= heroicon "sparkles" %>
  <%= heroicon "speaker-wave" %>
  <%= heroicon "speaker-x-mark" %>
  <%= heroicon "square-2-stack" %>
  <%= heroicon "squares-2x2" %>
  <%= heroicon "squares-plus" %>
  <%= heroicon "star" %>
  <%= heroicon "stop" %>
  <%= heroicon "sun" %>
  <%= heroicon "swatch" %>
  <%= heroicon "table-cells" %>
  <%= heroicon "tag" %>
  <%= heroicon "ticket" %>
  <%= heroicon "trash" %>
  <%= heroicon "truck" %>
  <%= heroicon "user-circle" %>
  <%= heroicon "user-group" %>
  <%= heroicon "user-minus" %>
  <%= heroicon "user-plus" %>
  <%= heroicon "user" %>
  <%= heroicon "users" %>
  <%= heroicon "variable" %>
  <%= heroicon "video-camera-slash" %>
  <%= heroicon "video-camera" %>
  <%= heroicon "view-columns" %>
  <%= heroicon "wallet" %>
  <%= heroicon "wifi" %>
  <%= heroicon "wrench-screwdriver" %>
  <%= heroicon "wrench" %>
  <%= heroicon "x-circle" %>
  <%= heroicon "x-mark" %>
</div>
